:root {
  --background: #0f172a;
  --foreground: #ededed;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  background: var(--background);
  color: var(--foreground);
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}